In [7]:
from src.main import *

SAVE_FILE_PATH = "../../data/county_clean/analysis_files/social_factors/" # Path to save the file

In [2]:
data = load_data(race_type="DEC", election_type='all', education_type='all', electric_customer_class='both')
data = data.dropna(subset=['State', 'County Name'])
data

/Users/jack/Library/CloudStorage/GoogleDrive-limjackailjk@gmail.com/My Drive/Solar PV Lab/NIMBY Project/Solar NIMBY Final/Solar-NIMBY/data cleaning/county level/src/utils.py:684: DtypeWarning: Columns (2,3,4,5,6,8,10,12,14,16,17,18,19,20,22,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,44,46,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,64,65,66,67,68,69,70,71,72,73,78,79,80,81,90,91,92,93,94,95,112,113,114,115,116,117,118,119,128,129,132,133,136,137,142,143,148,149,150,151,160,161,162,163,164,165,182,183,184,185,186,187,188,189,198,199,202,203,206,207,212,213,220,221,234,235,252,253,254,255,256,257,268,269,272,273,276,277) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(datapath)
/Users/jack/Library/CloudStorage/GoogleDrive-limjackailjk@gmail.com/My Drive/Solar PV Lab/NIMBY Project/Solar NIMBY Final/Solar-NIMBY/data cleaning/county level/src/utils.py:297: DtypeWarning: Columns (2,4,5,6,7,8,9,10,11,12,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,34,35,36,37,38,40,41,42,43,44,46,47,48,49,50,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,106,107,108,109,118,119,122,123,124,125,132,133,134,135,136,137,138,139,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,162,163,164,165,168,169,170,171,174,175,176,177,180,181,182,183,186,187,188,189,192,193,194,195,222,223,224,225,228,229,230,231,234,235,236,237,238,239,240,241,242,243,244,245,258,260,261,262,263,264,265,266,267,268,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,290,291,292,293,294,296,297,298,299,300,302,303,304,305,306,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,362,363,364,365,374,375,378,379,380,381,388,389,390,391,392,393,394,395,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,418,419,420,421,424,425,426,427,430,431,432,433,436,437,438,439,442,443,444,445,448,449,450,451,484,485,486,487,490,491,492,493,494,495,496,497,498,499,500,501,514,516,517,518,519,520,521,522,523,524,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,546,547,548,549,550,552,553,554,555,556,558,559,560,561,562,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,606,607,608,609,610,611,612,613,614,615,616,618,619,620,621,630,631,644,645,646,647,648,649,650,651,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,674,675,676,677,680,681,682,683,686,687,688,689,692,693,694,695,698,699,700,701,704,705,706,707,740,741,742,743,746,747,748,749,750,751,752,753,754,755,756,757) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(datapath)
/Users/jack/Library/CloudStorage/GoogleDrive-limjackailjk@gmail.com/My Drive/Solar PV Lab/NIMBY Project/Solar NIMBY Final/Solar-NIMBY/data cleaning/county level/src/utils.py:355: DtypeWarning: Columns (2,4,5,6,7,8,9,10,11,12,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,34,35,36,37,38,40,41,42,43,44,46,47,48,49,50,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,106,107,108,109,118,119,122,123,124,125,132,133,134,135,136,137,138,139,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,162,163,164,165,168,169,170,171,174,175,176,177,180,181,182,183,186,187,188,189,192,193,194,195,222,223,224,225,228,229,230,231,234,235,236,237,238,239,240,241,242,243,244,245,258,260,261,262,263,264,265,266,267,268,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,290,291,292,293,294,296,297,298,299,300,302,303,304,305,306,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,362,363,364,365,374,375,378,379,380,381,388,389,390,391,392,393,394,395,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,418,419,420,421,424,425,426,427,430,431,432,433,436,437,438,439,442,443,444,445,448,449,450,451,484,485,486,487,490,491,492,493,494,495,496,497,498,499,500,501,514,516,517,518,519,520,521,522,523,524,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,546,547,548,549,550,552,553,554,555,556,558,559,560,561,562,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,606,607,608,609,610,611,612,613,614,615,616,618,619,620,621,630,631,644,645,646,647,648,649,650,651,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,674,675,676,677,680,681,682,683,686,687,688,689,692,693,694,695,698,699,700,701,704,705,706,707,740,741,742,743,746,747,748,749,750,751,752,753,754,755,756,757) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(datapath)

,GEOID,State,County Name,area km2,area mi2,FIPS State,FIPS County,Wind Capacity Intensity (MW / 1000 sq mile),Wind Project Intensity (Projects / 1000 sq mile),Wind Avg Capacity Intensity (MW / 1000 sq mile),...,25+ High school graduate,"25+ Some college, no degree",25+ Associate's degree,25+ Bachelor's degree,25+ Graduate or professional degree,25+ High school graduate or higher,25+ Bachelor's degree or higher,Electric Commercial Rate,Electric Industrial Rate,Electric Residential Rate
0,1001.0,Alabama,Autauga,1565.322757,604.374247,01,001,NaN,NaN,NaN,...,32.8,19.6,9.1,16.4,11.7,89.6,28.1,0.121895,0.063652,0.135057
1,1003.0,Alabama,Baldwin,4352.548564,1680.527706,01,003,NaN,NaN,NaN,...,27.4,21.7,9.5,20.6,11.8,91.0,32.5,0.121895,0.063652,0.135057
2,1005.0,Alabama,Barbour,2342.545642,904.461557,01,005,NaN,NaN,NaN,...,36.7,20.5,7.3,6.7,4.4,75.7,11.2,0.121895,0.063652,0.135057
3,1007.0,Alabama,Bibb,1622.295670,626.371603,01,007,NaN,NaN,NaN,...,43.9,18.0,6.7,7.9,4.0,80.5,11.9,0.121895,0.063652,0.135057
4,1009.0,Alabama,Blount,1685.098070,650.619735,01,009,NaN,NaN,NaN,...,35.1,21.5,12.1,9.3,5.6,83.6,14.9,0.121895,0.063652,0.135057
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3120,56037.0,Wyoming,Sweetwater,27171.758878,10491.070446,56,037,NaN,NaN,NaN,...,32.6,26.2,14.5,12.4,7.0,92.7,19.4,0.088561,0.064577,0.107892
3121,56039.0,Wyoming,Teton,10923.817833,4217.707913,56,039,NaN,NaN,NaN,...,16.9,17.9,3.3,38.3,19.6,96.0,57.9,0.137874,0.016144,0.119245
3122,56041.0,Wyoming,Uinta,5408.110370,2088.082230,56,041,135.626843,1.436725,45.208948,...,36.4,27.3,11.9,12.3,5.6,93.6,18.0,0.088561,0.064577,0.107892
3123,56043.0,Wyoming,Washakie,5808.472530,2242.662861,56,043,NaN,NaN,NaN,...,25.7,29.5,12.8,17.2,8.9,94.1,26.2,0.088561,0.064577,0.107892
3124,56045.0,Wyoming,Weston,6212.983149,2398.845220,56,045,NaN,NaN,NaN,...,37.3,23.6,13.6,13.9,4.5,92.9,18.4,0.128103,0.088417,0.127541

In [3]:
# find all the pairs that are duplicates and are the same and remove them
duplicates = data[data.duplicated(subset=['State', 'County Name'], keep=False)]
duplicates

Empty DataFrame
Columns: [GEOID, State, County Name, area km2, area mi2, FIPS State, FIPS County, Wind Capacity Intensity (MW / 1000 sq mile), Wind Project Intensity (Projects / 1000 sq mile), Wind Avg Capacity Intensity (MW / 1000 sq mile), GDP_2017, GDP_2018, GDP_2019, GDP_2020, GDP_2021, GDP_2022, Solar MW 1000 sq mile all, Solar Projects 1000 sq mile all, Solar MW Avg 1000 sq mile all, Solar MW 1000 sq mile small, Solar Projects 1000 sq mile small, Solar MW Avg 1000 sq mile small, Solar MW 1000 sq mile medium, Solar Projects 1000 sq mile medium, Solar MW Avg 1000 sq mile medium, Solar MW 1000 sq mile large, Solar Projects 1000 sq mile large, Solar MW Avg 1000 sq mile large, No. of Private Schools, Median Income, Total Unemployment, Unemployment Rate, Hispanic/Latino, White, Black/African American, American Indian/Alaska Native, Asian, Native Hawaiian/Other Pacific Islander, Others, Number of Existing Installs, Total Installed Capacity (kW), Median Installed Capacity (kW), Total Installed Capacity (kW/ 1000 sq mile), Median Installed Capacity (kW / sq mile), Number of Existing Installs / sq mile, democrat_percentage_vote, republican_percentage_vote, green_percentage_vote, libertarian_percentage_vote, other_percentage_vote, 18-24 Less than high school graduate, 18-24 High school graduate, 18-24 Some college or associate's degree, 18-24 Bachelor's degree or higher, 25+ Less than 9th grade, 25+ 9th to 12th grade, no diploma, 25+ High school graduate, 25+ Some college, no degree, 25+ Associate's degree, 25+ Bachelor's degree, 25+ Graduate or professional degree, 25+ High school graduate or higher, 25+ Bachelor's degree or higher, Electric Commercial Rate, Electric Industrial Rate, Electric Residential Rate]
Index: []

[0 rows x 66 columns]

No Duplicates

In [8]:
data.to_csv(SAVE_FILE_PATH + "social_factors.csv", index=False)