In [1]:
import pandas as pd
import ipywidgets as widgets
from IPython.display import display



pd.set_option('display.max_columns', None)

import warnings

warnings.filterwarnings("ignore")

In [6]:
basepath = "../data/"
# Load county level suitability data
suitability_county = pd.read_csv(basepath + "suitability_scores/suitability_scores_county.csv", dtype={"GEOID": str})

# Load block group data
suitability_block_group = pd.read_csv(basepath + "suitability_scores/suitability_scores_county.csv", dtype={"GEOID": str})

# Load Project suitability data
project_suitability = pd.read_csv(basepath + "suitability_scores/suitability_scores_project.csv", dtype={"GEOID": str}).drop(columns=["STATEFP", "COUNTYFP", "TRACTCE", "BLKGRPCE"])

In [7]:
suitability_county.describe()

,GHI,Protected_Land,Habitat,Slope,Population_Density,Distance_to_Substation,Land_Cover
count,3108.000000,3108.000000,3108.000000,3108.000000,3108.000000,3108.000000,3108.000000
mean,18.099953,89.867916,57.412366,69.670574,88.415701,57.128374,71.160343
std,16.830075,13.825292,20.138014,30.013374,19.375774,9.260930,13.510064
min,4.765299,2.379858,15.361651,0.138137,10.000000,50.000000,27.518503
25%,5.704354,87.427888,39.838991,48.522618,87.899914,50.000000,59.778988
50%,15.000000,95.793106,55.600204,80.618548,96.892474,53.254134,69.210078
75%,20.000000,98.547080,74.578664,95.716219,99.196322,61.070631,83.872861
max,90.000000,100.000000,99.567568,100.000000,100.000000,94.799483,99.270948

In [8]:
suitability_block_group.describe()

,GHI,Protected_Land,Habitat,Slope,Population_Density,Distance_to_Substation,Land_Cover
count,3108.000000,3108.000000,3108.000000,3108.000000,3108.000000,3108.000000,3108.000000
mean,18.099953,89.867916,57.412366,69.670574,88.415701,57.128374,71.160343
std,16.830075,13.825292,20.138014,30.013374,19.375774,9.260930,13.510064
min,4.765299,2.379858,15.361651,0.138137,10.000000,50.000000,27.518503
25%,5.704354,87.427888,39.838991,48.522618,87.899914,50.000000,59.778988
50%,15.000000,95.793106,55.600204,80.618548,96.892474,53.254134,69.210078
75%,20.000000,98.547080,74.578664,95.716219,99.196322,61.070631,83.872861
max,90.000000,100.000000,99.567568,100.000000,100.000000,94.799483,99.270948

In [9]:
project_suitability.describe()

,GHI,Protected_Land,Habitat,Slope,Population_Density,Distance_to_Substation,Land_Cover,Wattage
count,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000,4140.000000
mean,26.617995,91.404584,56.852154,81.429263,66.118968,67.712012,71.933863,13.315990
std,30.097977,10.942445,18.511924,20.715437,30.324749,13.728775,11.906616,36.065576
min,5.000000,26.827272,5.000000,5.533967,10.000000,50.000000,36.011814,0.300000
25%,5.000000,89.015293,40.333791,69.321071,39.747696,52.757083,62.773331,1.600000
50%,15.000000,95.123272,55.067886,89.492648,75.592099,68.682482,69.907433,3.000000
75%,20.000000,98.730026,70.816464,98.150696,93.882585,80.210641,83.141726,5.200000
max,90.000000,100.000000,99.749044,100.000000,100.000000,92.565435,99.736300,585.900000