In [1]:
import pandas as pd
from utils import * 
import geopandas as gpd
from main import *

In [2]:
datapaths = {
    "Wind": "data/wind/ez_gis.plant_power_eia_v8_wind.shp",
    "GDP": "data/gdp_data.csv",
    "Solar": "data/solar_data.csv",
    "education": "data/education_data.csv",
    "private_schools": "data/private_school_data.csv",
    "DEC_race": "data/race_dec_data.csv",
    "ACS_race": "data/race_acs_data.csv",
    "election": "data/election_data.csv",
    "income": "data/income_data.csv",
    "unemployment": "data/unemployment_data.csv",
    "NREL_Electric": "data/NREL_Electric_data.csv",
    "Rural_Urban": "data/rural_urban.csv",
    'Population Data': 'data/pop_data.csv',
    "solar_roof": "data/solar_roof_data.csv"
}
bounding_box = pd.read_csv("/Users/jack/Library/CloudStorage/GoogleDrive-limjackailjk@gmail.com/My Drive/Solar PV Lab/NIMBY Project/Solar NIMBY Final/Solar-NIMBY/data cleaning/data/county_bounding_boxes.csv", dtype={"FIPS State": str, "FIPS County": str})

In [3]:
pd.set_option('display.max_columns', None)

In [4]:
FIPS = pd.read_csv("data/FIPS.csv", dtype={"FIPS State": str, "FIPS County": str})
FIPS

        State County Name FIPS State FIPS County
0     Alabama     Autauga         01         001
1     Alabama     Baldwin         01         003
2     Alabama     Barbour         01         005
3     Alabama        Bibb         01         007
4     Alabama      Blount         01         009
...       ...         ...        ...         ...
3106  Wyoming  Sweetwater         56         037
3107  Wyoming       Teton         56         039
3108  Wyoming       Uinta         56         041
3109  Wyoming    Washakie         56         043
3110  Wyoming      Weston         56         045

[3111 rows x 4 columns]

In [5]:
solar = get_solar(datapaths["Solar"], bounding_box, size='all')
wind = get_wind(datapaths["Wind"], bounding_box)
edu_18_24 = get_education_18_24(datapaths["education"])
edu_25 = get_education_25_over(datapaths["education"])
priv_sch = get_no_priv_schools(datapaths["private_schools"])
race_dec = get_race_dec(datapaths["DEC_race"])
race_acs = get_race_acs(datapaths["ACS_race"])
elections = get_election(datapaths["election"])
income = get_income(datapaths["income"])
unemployment = get_unemployment(datapaths["unemployment"])
electric = NREL_Electric(datapaths["NREL_Electric"])
save_datapaths = "missing_counties/"

/Users/jack/Library/CloudStorage/GoogleDrive-limjackailjk@gmail.com/My Drive/Solar PV Lab/NIMBY Project/Solar NIMBY Final/Solar-NIMBY/data cleaning/utils.py:269: DtypeWarning: Columns (2,4,5,6,7,8,9,10,11,12,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,34,35,36,37,38,40,41,42,43,44,46,47,48,49,50,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,106,107,108,109,118,119,122,123,124,125,132,133,134,135,136,137,138,139,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,162,163,164,165,168,169,170,171,174,175,176,177,180,181,182,183,186,187,188,189,192,193,194,195,222,223,224,225,228,229,230,231,234,235,236,237,238,239,240,241,242,243,244,245,258,260,261,262,263,264,265,266,267,268,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,290,291,292,293,294,296,297,298,299,300,302,303,304,305,306,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,362,363,364,365,374,375,378,379,380,381,388,389,390,391,392,393,394,395,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,418,419,420,421,424,425,426,427,430,431,432,433,436,437,438,439,442,443,444,445,448,449,450,451,484,485,486,487,490,491,492,493,494,495,496,497,498,499,500,501,514,516,517,518,519,520,521,522,523,524,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,546,547,548,549,550,552,553,554,555,556,558,559,560,561,562,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,606,607,608,609,610,611,612,613,614,615,616,618,619,620,621,630,631,644,645,646,647,648,649,650,651,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,674,675,676,677,680,681,682,683,686,687,688,689,692,693,694,695,698,699,700,701,704,705,706,707,740,741,742,743,746,747,748,749,750,751,752,753,754,755,756,757) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(datapath)
/Users/jack/Library/CloudStorage/GoogleDrive-limjackailjk@gmail.com/My Drive/Solar PV Lab/NIMBY Project/Solar NIMBY Final/Solar-NIMBY/data cleaning/utils.py:327: DtypeWarning: Columns (2,4,5,6,7,8,9,10,11,12,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,34,35,36,37,38,40,41,42,43,44,46,47,48,49,50,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,106,107,108,109,118,119,122,123,124,125,132,133,134,135,136,137,138,139,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,162,163,164,165,168,169,170,171,174,175,176,177,180,181,182,183,186,187,188,189,192,193,194,195,222,223,224,225,228,229,230,231,234,235,236,237,238,239,240,241,242,243,244,245,258,260,261,262,263,264,265,266,267,268,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,290,291,292,293,294,296,297,298,299,300,302,303,304,305,306,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,362,363,364,365,374,375,378,379,380,381,388,389,390,391,392,393,394,395,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,418,419,420,421,424,425,426,427,430,431,432,433,436,437,438,439,442,443,444,445,448,449,450,451,484,485,486,487,490,491,492,493,494,495,496,497,498,499,500,501,514,516,517,518,519,520,521,522,523,524,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,546,547,548,549,550,552,553,554,555,556,558,559,560,561,562,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,606,607,608,609,610,611,612,613,614,615,616,618,619,620,621,630,631,644,645,646,647,648,649,650,651,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,674,675,676,677,680,681,682,683,686,687,688,689,692,693,694,695,698,699,700,701,704,705,706,707,740,741,742,743,746,747,748,749,750,751,752,753,754,755,756,757) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(datapath)
/Users/jack/Library/CloudStorage/GoogleDrive-limjackailjk@gmail.com/My Drive/Solar PV Lab/NIMBY Project/Solar NIMBY Final/Solar-NIMBY/data cleaning/utils.py:656: DtypeWarning: Columns (2,3,4,5,6,8,10,12,14,16,17,18,19,20,22,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,44,46,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,64,65,66,67,68,69,70,71,72,73,78,79,80,81,90,91,92,93,94,95,112,113,114,115,116,117,118,119,128,129,132,133,136,137,142,143,148,149,150,151,160,161,162,163,164,165,182,183,184,185,186,187,188,189,198,199,202,203,206,207,212,213,220,221,234,235,252,253,254,255,256,257,268,269,272,273,276,277) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(datapath)

In [6]:
# get the counties that are in FIPS but not in solar using State Name and County Name columns
FIPS['State_County'] = FIPS['State'] + '_' + FIPS['County Name']
solar['State_County'] = solar['State'] + '_' + solar['County Name']

# Filter for state-county pairs in FIPS but not in solar
FIPS_not_in_solar = FIPS[~FIPS['State_County'].isin(solar['State_County'])]

# Drop the combined key column if you don't need it anymore
FIPS_not_in_solar = FIPS_not_in_solar.drop(columns=['State_County'])

# Resulting DataFrame with state-county pairs only in FIPS
FIPS_not_in_solar.to_csv(save_datapaths + "solar_missing.csv", index=False)

In [36]:
FIPS_not_in_solar

        State County Name FIPS State FIPS County
0     Alabama     Autauga         01         001
1     Alabama     Baldwin         01         003
2     Alabama     Barbour         01         005
3     Alabama        Bibb         01         007
4     Alabama      Blount         01         009
...       ...         ...        ...         ...
3105  Wyoming    Sublette         56         035
3107  Wyoming       Teton         56         039
3108  Wyoming       Uinta         56         041
3109  Wyoming    Washakie         56         043
3110  Wyoming      Weston         56         045

[2265 rows x 4 columns]

In [35]:
def get_missing_counties(data, factor, base):
    base['State_County'] = base['State'] + '_' + base['County Name']
    data['State_County'] = data['State'] + '_' + data['County Name']
    
    not_in = base[~base['State_County'].isin(data['State_County'])]
    not_in = not_in.drop(columns=['State_County'])
    return not_in