In [2]:
from urllib.request import urlopen
import json
import pandas as pd
import geopandas as gpd
import plotly.express as px

bg_shapefile = gpd.read_file("/Users/jack/Downloads/2023 US Block Group Boundary File 500k/cb_2023_us_bg_500k.shp")
bg_shapefile.head()

,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,GEOIDFQ,GEOID,NAME,NAMELSAD,LSAD,ALAND,AWATER,geometry
0,01,113,030300,1,1500000US011130303001,011130303001,1,Block Group 1,BG,829037,0,"POLYGON ((-85.00366 32.47885, -85.00133 32.480..."
1,04,015,953406,2,1500000US040159534062,040159534062,2,Block Group 2,BG,577144904,15330641,"POLYGON ((-114.32649 34.43788, -114.31824 34.4..."
2,04,001,945002,1,1500000US040019450021,040019450021,1,Block Group 1,BG,607817889,362533,"POLYGON ((-109.32335 35.54182, -109.31495 35.5..."
3,04,027,000301,2,1500000US040270003012,040270003012,2,Block Group 2,BG,2041298,71837,"POLYGON ((-114.66727 32.72505, -114.66541 32.7..."
4,05,007,020803,3,1500000US050070208033,050070208033,3,Block Group 3,BG,3545865,53379,"POLYGON ((-94.27908 36.48882, -94.27656 36.491..."

In [ ]:
fig = px.choropleth(bg_shapefile,
                   geojson=bg_shapefile.geometry,
                   locations=bg_shapefile.GEOID,
                   color="NAME",
                   projection="mercator")
fig.update_geos(fitbounds="locations", visible=False)
fig.show()